* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  padding: 20px 0;
}

header h1 {
  color: #333;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

.tailleGrille {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.tailleGrille,
.paletteCouleurs {
  background-color: #ffffff;
  padding: 15px 20px;
  box-shadow: 0 4ps 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 12px;
  text-align: center;
}

label {
  font-weight: 500;
  color: #333;
}

input[type="range"] {
  width: 60%;
  height: 4px;
  -webkit-appearance: none;
  background: #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #15616d;
  border-radius: 50%;
  cursor: pointer;
}


#listeCouleurs {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.carreCouleur {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#effacerPalette {
  display: none;
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #15616d;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#effacerPalette:hover {
  background-color: #0b3b49;
}

.grille {
  display: grid;
  width: 600px;
  height: 600px;
  margin: 0 auto 30px;
  border: 2px solid #333;
  border-radius: 12px;
  background-color: #ffffff;
  overflow: hidden;
}

.carre {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .grille {
    width: 90vw;
    height: 90vw;
  }

  input[type="range"] {
    width: 80%;
  }
}